n8n-workflow.json
{
  "name": "Project03-Enterprise AI Control Plane for Autonomous Document-Driven Decisions",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Decision Intake Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Request Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "refund"
                  },
                  {
                    "option": "claim"
                  },
                  {
                    "option": "dispute"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Description",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Priority",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "normal"
                  },
                  {
                    "option": "high"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Upload Documents",
              "fieldType": "file",
              "acceptFileTypes": ".jpg, .png, .pdf, .jpeg",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -512,
        -464
      ],
      "id": "9c3026f5-0731-4a47-8e73-3248763035f9",
      "name": "AI Decision Intake Form",
      "webhookId": "468bfcac-b0dd-487d-9289-3e9da3319381"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer request details:\n\nRequest type: {{$json.request_type}}\nPriority: {{$json.priority}}\nDescription: {{$json.description}}\n",
        "options": {
          "systemMessage": "You must respond ONLY in valid JSON.\nDo not wrap the JSON in a string.\nNo markdown.\nNo explanation outside JSON.\n\nJSON schema:\n{\n  \"decision\": \"AUTO_REFUND | ESCALATE_TO_HUMAN | REJECT\",\n  \"confidence\": number,\n  \"reasoning\": string\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        384,
        -560
      ],
      "id": "6129bc92-3946-4664-b9e2-d19d145b3603",
      "name": "AI Decision Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        456,
        -336
      ],
      "id": "5bdc9581-eaad-49fc-bf86-6deeaee2e85b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lTAFvaqT68Fdract",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c212c824-464d-4e3c-a5d0-db0688bf518b",
              "name": "decision",
              "value": "={{ $json.decision }}",
              "type": "string"
            },
            {
              "id": "7bb7fb37-fa99-4a15-b074-0b5484fb5ad9",
              "name": "confidence",
              "value": "={{ $json.confidence }}",
              "type": "string"
            },
            {
              "id": "de022e26-377f-4301-8d27-3e84d11abc8f",
              "name": "reasoning",
              "value": "={{ $json.reasoning }}",
              "type": "string"
            },
            {
              "id": "ea351a45-cbfe-47de-8cf1-4d5a4068e761",
              "name": "escalated_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "ac013e2e-03a2-4c07-8ed5-ca1163dc2aed",
              "name": "escalation_team",
              "value": "FINANCE_SUPPORT_TEAM",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -560
      ],
      "id": "f6b1feb3-579d-4f71-b59c-c04fd9ac0f70",
      "name": "Set – Human Escalation Payload"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d796775-999a-43f5-ac1f-6093939d6b07",
              "name": "=ticket_id",
              "value": "={{ 'TICKET-' + new Date().getTime() }}",
              "type": "string"
            },
            {
              "id": "7b2654d1-c07a-4309-a6bf-536078417b60",
              "name": "=ticket_type",
              "value": "REFUND_ESCALATION",
              "type": "string"
            },
            {
              "id": "892931e4-4001-4440-9941-e807c74b1c34",
              "name": "priority",
              "value": "HIGH",
              "type": "string"
            },
            {
              "id": "0bb4b1d6-bb7c-44f2-b25c-0b78d2a8a867",
              "name": "=decision",
              "value": "={{ $json.decision }}",
              "type": "string"
            },
            {
              "id": "349a29fb-b467-4b2c-afd3-c16fa112f656",
              "name": "=confidence",
              "value": "={{ $json.confidence }}",
              "type": "number"
            },
            {
              "id": "40be1d87-3c82-4f10-9437-a97ffebc0438",
              "name": "=reasoning",
              "value": "={{ $json.reasoning }}",
              "type": "string"
            },
            {
              "id": "37c1a343-40ea-43b8-9a9f-3dedcf55571a",
              "name": "=assigned_team",
              "value": "={{ $json.assigned_team }}",
              "type": "string"
            },
            {
              "id": "fb466a7f-f0a1-4934-b9f0-eb5f0a9dd83a",
              "name": "=priority",
              "value": "={{ $json.confidence >= 0.85 ? 'CRITICAL' : 'HIGH' }}",
              "type": "string"
            },
            {
              "id": "bcd8cd96-ece1-477f-b6b0-9b3f7c2e7f39",
              "name": "status",
              "value": "OPEN",
              "type": "string"
            },
            {
              "id": "00a6143c-2025-4bf0-8f45-95bbb4f6688c",
              "name": "created_at",
              "value": "={{ $json.escalated_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        -560
      ],
      "id": "c3b906cc-d8dd-4c46-b927-25001c78d732",
      "name": "Set – Create Escalation Ticket"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0921a351-dd7e-43a2-a764-0c60cc6649c9",
              "name": "=decision",
              "value": "={{ JSON.parse($json.output).decision }}",
              "type": "string"
            },
            {
              "id": "6e59c249-88a6-4df1-bb84-3e858f5c28b3",
              "name": "=confidence",
              "value": "={{ Number(JSON.parse($json.output).confidence) }}\n",
              "type": "number"
            },
            {
              "id": "462ec29c-1d6a-4c32-af24-2b0130e3ef16",
              "name": "=reasoning",
              "value": "={{ JSON.parse($json.output).reasoning }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -560
      ],
      "id": "a28bf136-af20-4cd9-b2d5-cc8883b23ea8",
      "name": "Set – Parse AI Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f3477718-616b-48f3-b824-0d9e2dcbae62",
              "leftValue": "={{$json.decision}}",
              "rightValue": "ESCALATE_TO_HUMAN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3c1ed121-412c-4384-a0da-7171999efad5",
              "leftValue": "={{$json.confidence}}",
              "rightValue": 0.75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "a13285ec-e9fa-4657-be8e-3fd2245e7417",
              "leftValue": "={{ $json.reasoning }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        -560
      ],
      "id": "0d0f814b-11c8-454d-901b-2e827ce590fe",
      "name": "If – Needs Human Escalation"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.message.text;\n\n// normalize text\nconst lines = text\n  .replace(/\\r/g, '')\n  .split('\\n')\n  .map(l => l.trim())\n  .filter(l => l.length > 0);\n\nfunction getValue(label) {\n  const line = lines.find(l => l.startsWith(label + ':'));\n  return line ? line.replace(label + ':', '').trim() : null;\n}\n\nconst decision = getValue('Decision');\nconst confidenceRaw = getValue('Confidence');\nconst assignedTeam = getValue('Assigned Team');\nconst time = getValue('Time');\n\n// reasoning is multiline\nlet reasoning = '';\nconst reasoningIndex = lines.findIndex(l => l.startsWith('Reasoning:'));\nif (reasoningIndex !== -1) {\n  reasoning = lines\n    .slice(reasoningIndex + 1)\n    .filter(l => !l.startsWith('Assigned Team:') && !l.startsWith('Time:'))\n    .join(' ');\n}\n\nreturn [\n  {\n    decision,\n    confidence: confidenceRaw ? Number(confidenceRaw) : null,\n    reasoning,\n    assigned_team: assignedTeam,\n    escalated_at: time\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -560
      ],
      "id": "f373a3ad-7102-4309-a7c7-276c37cb9575",
      "name": "Parse Slack Escalation Text"
    },
    {
      "parameters": {
        "tableId": "escalation_tickets",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ticket_id",
              "fieldValue": "={{ 'TICKET-' + Date.now() }}"
            },
            {
              "fieldId": "ticket_type",
              "fieldValue": "={{ $json.ticket_type }}"
            },
            {
              "fieldId": "decision",
              "fieldValue": "={{ $json.decision }}"
            },
            {
              "fieldId": "confidence",
              "fieldValue": "={{ $json.confidence }}"
            },
            {
              "fieldId": "reasoning",
              "fieldValue": "={{ $json.reasoning }}"
            },
            {
              "fieldId": "assigned_team",
              "fieldValue": "={{ $json.assigned_team }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2080,
        -560
      ],
      "id": "f0584aec-c1fd-4774-9eed-0bbfbe5f2265",
      "name": "Supabase | Create Escalation Ticket",
      "credentials": {
        "supabaseApi": {
          "id": "jg0dwBTW7A43HGMY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/human-feedback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        144
      ],
      "id": "db27b339-41fe-4641-9393-0b1cb61dba67",
      "name": "Capture Human Feedback",
      "webhookId": "50bb368b-43f2-422b-a797-33d47fdb6896"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "escalation_tickets",
        "filters": {
          "conditions": [
            {
              "keyName": "ticket_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.ticket_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "RESOLVED"
            },
            {
              "fieldId": "human_decision",
              "fieldValue": "={{ $json.body.human_decision }}"
            },
            {
              "fieldId": "human_notes",
              "fieldValue": "={{ $json.body.human_notes }}"
            },
            {
              "fieldId": "resolved_by",
              "fieldValue": "={{ $json.body.agent_id }}"
            },
            {
              "fieldId": "resolved_at",
              "fieldValue": "={{ new Date().toISOString() }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -288,
        144
      ],
      "id": "6bb86e5c-fcf9-4ea3-ae5a-182593369515",
      "name": "Update Ticket with Human Feedback",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "jg0dwBTW7A43HGMY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "349fbcd4-9c6e-40e7-8616-9f3997050a9b",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "ESCALATE_TO_HUMAN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "83b73d29-fd27-4503-a0ba-bd3c2e36c6fd",
              "leftValue": "={{ $json.human_decision }}",
              "rightValue": "REFUND_APPROVED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        144
      ],
      "id": "fd601f23-516f-4ab9-ae91-5b5106445adf",
      "name": "AI vs Human Agreement"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ticket_id\":{{ $json.id }}\n  \"learning_type\": \"POSITIVE\",\n  \"ai_decision\": \"{{ $json.decision }}\",\n  \"human_decision\": \"{{ $json.human_decision }}\",\n  \"ticket_type\": \"{{ $json.ticket_type }}\",\n  \"confidence\": {{ $json.confidence }},\n  \"outcome\": \"AI_CORRECT\",\n  \"notes\": \"AI escalated correctly; human validated and resolved\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        48
      ],
      "id": "e8e29162-db64-4be4-8f59-589693bc6f33",
      "name": "AI Positive Learning"
    },
    {
      "parameters": {
        "tableId": "ai_learning_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ticket_id",
              "fieldValue": "={{ $json.ticket_id }}"
            },
            {
              "fieldId": "learning_type",
              "fieldValue": "={{ $json.learning_type }}"
            },
            {
              "fieldId": "ai_decision",
              "fieldValue": "={{ $json.ai_decision }}"
            },
            {
              "fieldId": "human_decision",
              "fieldValue": "={{ $json.human_decision }}"
            },
            {
              "fieldId": "ticket_type",
              "fieldValue": "={{ $json.ticket_type }}"
            },
            {
              "fieldId": "confidence",
              "fieldValue": "={{ Number($json.confidence) }}"
            },
            {
              "fieldId": "outcome",
              "fieldValue": "={{ $json.outcome }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.notes }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        48
      ],
      "id": "04e1d580-84a9-41a3-ba51-99caacadb566",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "jg0dwBTW7A43HGMY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"learning_type\": \"NEGATIVE_CORRECTION\",\n  \"ai_decision\": \"{{ $json.decision }}\",\n  \"human_decision\": \"{{ $json.human_decision }}\",\n  \"ticket_type\": \"{{ $json.ticket_type }}\",\n  \"confidence\": {{ $json.confidence }},\n  \"outcome\": \"AI_WRONG_ADJUST\",\n  \"notes\": \"AI decision corrected by human\",\n  \"learned_at\": \"{{ new Date().toISOString() }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        240
      ],
      "id": "f6326040-ecf5-4b82-9470-0df080bb7bb3",
      "name": "AI Correction Signal"
    },
    {
      "parameters": {
        "url": "https://unshowering-unfueled-deborah.ngrok-free.dev/confidence-bias",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        48
      ],
      "id": "01c2334d-6a77-4bdb-8fd0-593e835aea39",
      "name": "Get_Confidence_Bias"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9cfaef6-82b9-45be-90fc-4971e530f6a1",
              "leftValue": "={{ $json.confidence_bias.confidence_bias }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "e4f062d1-ddf1-4282-8baf-3064a0d812e5",
              "leftValue": "={{ $json.confidence_bias.bias_interpretation }}",
              "rightValue": "OVERCONFIDENT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        48
      ],
      "id": "2e1a3be3-7c74-44a1-a527-2abc20d93587",
      "name": "Confidence_bias_check"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a5beef2-cb9a-447a-8885-9cb869eeed94",
              "name": "ai_risk_level",
              "value": "HIGH",
              "type": "string"
            },
            {
              "id": "65e900b7-939a-4465-be50-789d53ddec9d",
              "name": "policy_action",
              "value": "REDUCE_AUTONOMY",
              "type": "string"
            },
            {
              "id": "fe6a13ca-0a66-46a0-af06-e4875235a247",
              "name": "human_required",
              "value": "true",
              "type": "string"
            },
            {
              "id": "ce548984-cd9d-4106-9b8a-7b05e268b22a",
              "name": "reason",
              "value": "AI showing overconfidence bias",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        48
      ],
      "id": "7e13690a-b064-4834-85fd-1754d5684e1a",
      "name": "Set AI Risk Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "47fda7f6-c6d7-4f96-9a60-34054368ed0c",
              "leftValue": "={{$node[\"Get_Confidence_Bias\"].json.confidence_bias.bias_interpretation}}",
              "rightValue": "OVERCONFIDENT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1504,
        48
      ],
      "id": "ef6c1f81-13d0-4422-beca-797dd2fbccf0",
      "name": "Bias Severity Check"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A5C5U8BBN",
          "mode": "list",
          "cachedResultName": "ai-risk-alerts"
        },
        "text": "=:rotating_light: AI OVERCONFIDENCE ALERT\nRisk Level: {{$json.ai_risk_level}}\nPolicy Action: {{$json.policy_action}}\nHuman Required: {{$json.human_required}}\nBias Interpretation: {{$node[\"Get_Confidence_Bias\"].json.confidence_bias.bias_interpretation}}\nConfidence Bias Score: {{$node[\"Get_Confidence_Bias\"].json.confidence_bias.confidence_bias}}\nReason: {{$json.reason}}  \n_Action Required:_   • Reduce AI autonomy   • Enforce human-in-the-loop   • Review recent AI decisions  _Time:_ {{$now}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1280,
        48
      ],
      "id": "28ded191-fece-495e-ba16-4fa06a01025d",
      "name": "Slack Overconfidence Alert",
      "webhookId": "a06f6acf-1351-4c33-b7b3-22fbe5c9503f",
      "credentials": {
        "slackOAuth2Api": {
          "id": "94adkTtrN4SmrOsE",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a92934f3-adc4-4459-9c38-bab5158a1b1f",
              "name": "policy_action",
              "value": "REDUCE_AUTONOMY",
              "type": "string"
            },
            {
              "id": "50f96354-f27c-43a8-807e-e9de6236fce3",
              "name": "human_required",
              "value": "true",
              "type": "string"
            },
            {
              "id": "bea9db3e-2982-4c05-a295-9795770f893e",
              "name": "policy_reason",
              "value": "AI confidence bias exceeded safe threshold",
              "type": "string"
            },
            {
              "id": "426fe64f-3a16-4b3f-8e7b-e70794ff2a18",
              "name": "risk_level",
              "value": "HIGH",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        48
      ],
      "id": "9e0a97d0-07e7-44f8-abc9-cabd991b8e78",
      "name": "Policy Decision"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bcf80f2e-cf82-46d5-a367-0a04f34cc831",
              "name": "policy_name",
              "value": "AI_RUNTIME_POLICY",
              "type": "string"
            },
            {
              "id": "5559ba25-1ec2-4750-b805-51b783464427",
              "name": "autonomy_level",
              "value": "LOW",
              "type": "string"
            },
            {
              "id": "fa88685e-ad06-45e2-a14c-45c2745ab13a",
              "name": "max_confidence",
              "value": 0.6,
              "type": "number"
            },
            {
              "id": "1f3e0940-d6e7-4407-8eda-18fe23aac486",
              "name": "human_required",
              "value": "true",
              "type": "string"
            },
            {
              "id": "563bff7c-5e58-4832-8da0-4eaf6ac418b4",
              "name": "last_trigger",
              "value": "OVERCONFIDENCE_DETECTED",
              "type": "string"
            },
            {
              "id": "1945e649-fa8a-42f2-a874-8f0f8440cda5",
              "name": "=updated_at",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        48
      ],
      "id": "aceed564-0578-44eb-8084-9e2f028fc12e",
      "name": "AI Autonomy Level"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "system_policy_state",
        "filters": {
          "conditions": [
            {
              "keyName": "policy_name",
              "condition": "eq",
              "keyValue": "={{ $json.policy_name }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "autonomy_level",
              "fieldValue": "={{ $json.autonomy_level }}"
            },
            {
              "fieldId": "max_confidence",
              "fieldValue": "={{ $json.max_confidence }}"
            },
            {
              "fieldId": "human_required",
              "fieldValue": "={{ $json.human_required }}"
            },
            {
              "fieldId": "last_trigger",
              "fieldValue": "={{ $json.last_trigger }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2176,
        48
      ],
      "id": "7c89a840-a3cd-4378-9bef-97ec0df25922",
      "name": "Supabase Update Row (REAL CONTROL)",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "jg0dwBTW7A43HGMY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A5C5U8BBN",
          "mode": "list",
          "cachedResultName": "ai-risk-alerts"
        },
        "text": "=🚨 AI AUTONOMY REDUCED\n\nPolicy: {{$json.policy_name}}\nAutonomy Level: {{$json.autonomy_level}}\nMax Confidence: {{$json.max_confidence}}\nHuman Required: {{$json.human_required}}\n\nReason: Overconfidence detected\nAction: Human-in-the-loop enforced\nTime: {{$json.updated_at}}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2624,
        -48
      ],
      "id": "6d8b54c0-9f04-4479-97d0-3644fca222d1",
      "name": "Policy Applied Successfully",
      "webhookId": "80df5ddc-4be3-4daa-a4a2-7c7375f1f597",
      "credentials": {
        "slackOAuth2Api": {
          "id": "94adkTtrN4SmrOsE",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ai_learning_logs",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "learning_type",
              "condition": "eq",
              "keyValue": "POSITIVE"
            },
            {
              "keyName": "outcome",
              "condition": "eq",
              "keyValue": "AI_CORRECT"
            },
            {
              "keyName": "learned_at",
              "condition": "gt",
              "keyValue": "={{ new Date(Date.now() - 24*60*60*1000).toISOString() }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        -48
      ],
      "id": "1588757e-1c59-4094-a9f7-161593fe862d",
      "name": "Get AI Learning Logs (Recent)",
      "credentials": {
        "supabaseApi": {
          "id": "jg0dwBTW7A43HGMY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d79486a6-2425-480b-a83f-a6166d02c08b",
              "leftValue": "={{ $json.accuracy }}",
              "rightValue": 0.85,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "7409cfe2-f00f-4c42-a164-8eef9203082a",
              "leftValue": "={{ $json.verdict }}",
              "rightValue": "TRUSTABLE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3296,
        -48
      ],
      "id": "d21c2cfd-d227-43b9-a19b-f380871b2b56",
      "name": "AI Trust Evaluation"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "system_policy_state",
        "filters": {
          "conditions": [
            {
              "keyName": "policy_name",
              "condition": "eq",
              "keyValue": "AI_RUNTIME_POLICY"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "autonomy_level",
              "fieldValue": "MEDIUM"
            },
            {
              "fieldId": "max_confidence",
              "fieldValue": "0.75"
            },
            {
              "fieldId": "human_required",
              "fieldValue": "false"
            },
            {
              "fieldId": "last_trigger",
              "fieldValue": "AI_PROVEN_TRUSTABLE"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{$now}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3520,
        -144
      ],
      "id": "7e35ffd1-7d20-4f2f-bf00-26da5abbe829",
      "name": "Increase AI Autonomy",
      "credentials": {
        "supabaseApi": {
          "id": "jg0dwBTW7A43HGMY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const logs = items;\n\nconst total = logs.length;\nconst correct = logs.filter(l => l.json.outcome === 'AI_CORRECT').length;\n\nconst accuracy = total > 0 ? correct / total : 0;\n\nreturn [{\n  json: {\n    total_decisions: total,\n    correct_decisions: correct,\n    accuracy,\n    verdict: accuracy >= 0.8 ? 'TRUSTABLE' : 'RESTRICT'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        -48
      ],
      "id": "8a5ea8cb-fd7a-4657-8b18-40150865df25",
      "name": "Learning Impact Aggregator"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A5C5U8BBN",
          "mode": "list",
          "cachedResultName": "ai-risk-alerts"
        },
        "text": "=:white_check_mark: AI TRUST CONFIRMED  Accuracy: {{$node[\"Learning Impact Aggregator\"].json.accuracy}} Verdict: TRUSTABLE  Action: • Autonomy increased • Human dependency reduced • AI promoted to MEDIUM autonomy",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        3744,
        -144
      ],
      "id": "d353913f-12eb-4d39-8588-b83dc27c3293",
      "name": "AI Trust Confirm Message",
      "webhookId": "fe8eebbb-df12-414e-a561-5231ca7e4bd7",
      "credentials": {
        "slackOAuth2Api": {
          "id": "94adkTtrN4SmrOsE",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "system_policy_state",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "autonomy_level",
              "fieldValue": "LOW"
            },
            {
              "fieldId": "max_confidence",
              "fieldValue": "0.6"
            },
            {
              "fieldId": "human_required",
              "fieldValue": "true"
            },
            {
              "fieldId": "last_trigger",
              "fieldValue": "LOW_ACCURACY_DETECTED"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{$now}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3520,
        48
      ],
      "id": "a3193fee-2481-4341-ab09-88bc0001df5e",
      "name": "Restrict AI Autonomy",
      "credentials": {
        "supabaseApi": {
          "id": "jg0dwBTW7A43HGMY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A5C5U8BBN",
          "mode": "list",
          "cachedResultName": "ai-risk-alerts"
        },
        "text": "=:warning: AI TRUST FAILED  Accuracy: {{$json.accuracy}} Verdict: UNTRUSTABLE  Action: • Autonomy restricted • Human-in-the-loop enforced",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        3744,
        48
      ],
      "id": "a04965de-fa99-4bfb-8df6-e583297a8f24",
      "name": "Send a message2",
      "webhookId": "3516f518-aca3-4e75-8f76-119962f904e9",
      "credentials": {
        "slackOAuth2Api": {
          "id": "94adkTtrN4SmrOsE",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e01f4cde-4eff-47d5-ad7f-d67c35bc7d25",
              "name": "=request_type",
              "value": "={{ $json['Request Type'] }}",
              "type": "string"
            },
            {
              "id": "2bde9073-0654-436e-8f61-3f7c7240b92d",
              "name": "=description",
              "value": "={{ $json.Description }}",
              "type": "string"
            },
            {
              "id": "2ee12f2e-3dde-443a-8c49-94ada01c6997",
              "name": "=priority",
              "value": "={{ $json.Priority }}",
              "type": "string"
            },
            {
              "id": "7eb6d112-03f9-4057-b79f-9c82ede9eafb",
              "name": "=received_at",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -464
      ],
      "id": "e6d045a8-2a74-4062-945b-9b233d5f0f1c",
      "name": "extracting features"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "096550a1-5390-4fc6-a956-f88900e1b126",
              "leftValue": "={{ $json.request_type }}",
              "rightValue": "refund",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        -464
      ],
      "id": "d22f45b9-6add-4eb4-912c-a670d1241ae4",
      "name": "File Type Routing 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8dd0e271-7bd3-4b37-bf08-e88b4443beb2",
              "leftValue": "={{$json.request_type}}",
              "rightValue": "refund",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        -368
      ],
      "id": "e15cc86b-bf9a-42cf-b847-41628c2fe38a",
      "name": "File Type Routing 3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "091ff609-dcc4-4e3a-b98a-301234a85e19",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        -560
      ],
      "id": "4c1b7446-9005-44a7-9a72-27ac5833c547",
      "name": "File Type Routing 2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A52ENNGDU",
          "mode": "list",
          "cachedResultName": "finance-support"
        },
        "text": "=:rotating_light:HUMAN ESCALATION REQUIRED\n\nDecision: {{ $json.decision }}\n\nConfidence: {{ $json.confidence }}\n\nReasoning:\n{{ $json.reasoning }}\n\nAssigned Team: {{ $json.escalation_team }}\n\nTime: {{ $json.escalated_at }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1408,
        -560
      ],
      "id": "5d5bb7d4-b9d3-44ce-9ec1-1b271c11c346",
      "name": "Send a message to channel",
      "webhookId": "de7455e7-0c0c-4435-b059-080222cfe592",
      "retryOnFail": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "94adkTtrN4SmrOsE",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d2b90d59-6c92-45ed-8820-229199e17d32",
              "leftValue": "={{ $json.autonomy_level }}",
              "rightValue": "LOW",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2400,
        48
      ],
      "id": "276df3e7-f204-4d15-80dd-2892f4f1fb90",
      "name": "Enforce Policy"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A5C5U8BBN",
          "mode": "list",
          "cachedResultName": "ai-risk-alerts"
        },
        "text": "=ℹ️ AI Policy Check Passed  Policy: {{$json.policy_name}} Autonomy Level: {{$json.autonomy_level}}  System operating normally.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2624,
        144
      ],
      "id": "a9ba4402-7f07-49e4-960f-dc9978188d92",
      "name": "Policy Not Applied",
      "webhookId": "6390cf10-d05a-4fb6-a411-fab912b9fe41",
      "credentials": {
        "slackOAuth2Api": {
          "id": "94adkTtrN4SmrOsE",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Part 1: \nExecute the on form submission by entering the details along with the uploaded files.(.pdf/.jpeg,.png,.jpg\n)",
        "height": 128,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -640
      ],
      "typeVersion": 1,
      "id": "ce30b2e2-da3e-4442-a9fd-97a861108594",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Part 2:\nWhen the part 1 is executed and the escalation ticket is generated then we have to execute the webhook from post request from reqbin.com along with the input body along with the ticket-id and all important fields.\n",
        "height": 176,
        "width": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        -48
      ],
      "id": "350f61b0-acc4-4854-b14c-c0ae06e8682a",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Decision Intake Form": {
      "main": [
        [
          {
            "node": "extracting features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Decision Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Decision Agent": {
      "main": [
        [
          {
            "node": "Set – Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set – Human Escalation Payload": {
      "main": [
        [
          {
            "node": "Send a message to channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If – Needs Human Escalation": {
      "main": [
        [
          {
            "node": "Set – Human Escalation Payload",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set – Parse AI Output": {
      "main": [
        [
          {
            "node": "If – Needs Human Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Escalation Text": {
      "main": [
        [
          {
            "node": "Set – Create Escalation Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set – Create Escalation Ticket": {
      "main": [
        [
          {
            "node": "Supabase | Create Escalation Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Human Feedback": {
      "main": [
        [
          {
            "node": "Update Ticket with Human Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ticket with Human Feedback": {
      "main": [
        [
          {
            "node": "AI vs Human Agreement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI vs Human Agreement": {
      "main": [
        [
          {
            "node": "AI Positive Learning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Correction Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Positive Learning": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Get_Confidence_Bias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Confidence_Bias": {
      "main": [
        [
          {
            "node": "Confidence_bias_check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence_bias_check": {
      "main": [
        [
          {
            "node": "Set AI Risk Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set AI Risk Context": {
      "main": [
        [
          {
            "node": "Slack Overconfidence Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Overconfidence Alert": {
      "main": [
        [
          {
            "node": "Bias Severity Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bias Severity Check": {
      "main": [
        [
          {
            "node": "Policy Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Decision": {
      "main": [
        [
          {
            "node": "AI Autonomy Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Autonomy Level": {
      "main": [
        [
          {
            "node": "Supabase Update Row (REAL CONTROL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Update Row (REAL CONTROL)": {
      "main": [
        [
          {
            "node": "Enforce Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Applied Successfully": {
      "main": [
        [
          {
            "node": "Get AI Learning Logs (Recent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Learning Logs (Recent)": {
      "main": [
        [
          {
            "node": "Learning Impact Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Trust Evaluation": {
      "main": [
        [
          {
            "node": "Increase AI Autonomy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Restrict AI Autonomy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increase AI Autonomy": {
      "main": [
        [
          {
            "node": "AI Trust Confirm Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Learning Impact Aggregator": {
      "main": [
        [
          {
            "node": "AI Trust Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restrict AI Autonomy": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extracting features": {
      "main": [
        [
          {
            "node": "File Type Routing 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type Routing 1": {
      "main": [
        [
          {
            "node": "File Type Routing 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Type Routing 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type Routing 2": {
      "main": [
        [
          {
            "node": "AI Decision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message to channel": {
      "main": [
        [
          {
            "node": "Parse Slack Escalation Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enforce Policy": {
      "main": [
        [
          {
            "node": "Policy Applied Successfully",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Policy Not Applied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b8792f8-bcf9-4460-9fdf-3d0415f8714d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0623c8f41efec2fa191ab1cd4ba97b33256d41dc555a340bf4ea33e70e4b5545"
  },
  "id": "jDupcx8G47FecyT3",
  "tags": []
}